body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  min-height: 350px;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.home-page header,
.new-post-page header {
  background-image: url(../assets/banner.jpeg);
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.header-container {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile-image {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  background-image: url(../assets/profile.png);
  background-size: cover;
}

.title {
  font-size: 3em;
  font-weight: bold;
}

.subtext {
  margin-top: 8px;
  text-align: center;
}
